[alias]
	st = status
[user]
	name = Hobin Yoon
	email = hobinyoon@gmail.com
[remote "origin"]
  # Always prune (delete the tracking of branches that are deleted remotely): https://stackoverflow.com/a/18718936
	prune = true
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
